# Folders
fromBox/*
export_fig2/*
store/
store/*

# random package
amd-software-adrenalin-edition-22.10.3-minimalsetup-221105_web

# output filetypes, e.g. images and pdfs
*.ppt
*.pptx
*.pdf
*.bmp
*.fig
*.zip
